:root {
  --mainColor: #2A2A2B;
  --currFont: rgb(45, 45, 45);
  --prevFont: rgb(130, 130, 130);
  --border: rgb(56, 56, 56);
  --output: #eee;
  --calc: rgb(239, 147, 54);
  --secondaryTextColorDark: #F95959;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "ubuntu";
}

body {
  background-color: var(--mainColor);
  line-height: 1.6;
  position: relative;
  min-height: 100%;
}

.header {
  text-align: center;
  margin-top: 25px;
  color: var(--output);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--output);
}

.disclaimer {
  margin-top: 10px;
  font-size: 0.75rem;
}

a {
  text-decoration: none;
  color: var(--secondaryTextColorDark);
}

a:hover {
  color: var(--prevFont);
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

button {
  border: none;
  font-size: 1.75rem;
  cursor: pointer;
  outline: none;
}

.equals {
  background-color: #7abb6d;
}
.equals:hover {
  background-color: #609855;
}

.clear {
  background-color: #6abcc4;
}
.clear:hover {
  background-color: #5ba1a6;
}

.del {
  background-color: #d35d5d;
}
.del:hover {
  background-color: #b74f4f;
}

.calc-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  min-height: 500px;
  padding: 10px;
  margin-top: 25px;
}

.calcGrid {
  width: 400px;
  border: 2px var(--border) solid;
  border-radius: 15px;
  padding: 20px;
  background-color: var(--calc);
}

.output {
  min-height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 15px 25px;
  border: 2px var(--border) solid;
  border-radius: 15px;
  margin-bottom: 25px;
  background-color: var(--output);
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
}

.output .prevOp {
  color:var(--prevFont);
  font-size: 1.5rem;
}

.output .currOp {
  color: var(--currFont);
  font-size: 2.5rem;
}

button {
  border: 2px solid var(--border);
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: repeat(5, 5rem);
  grid-gap: 10px;
}

.span-two {
  grid-column: span 2;
}

@media screen and (max-width: 800px) {
  h1, p {display: none;}
} 
